%table#main_table.table.table-striped.table-condensed{width: '100%'}
  %thead
    %tr
      %th No.
      %th.all Name
      %th Best Score
      %th.all Latest Results
      %th.all
  %tbody
    - @numbering = 1
    = render :partial => 'problem', collection: problems
