- @primary_tags.each do |tag|
  - data_hash = tag.description.present? ? {bs: {toggle: 'tooltip', title: tag.description }} : nil
  %span.badge.text-bg-light.border.border-dark-subtle.text-body-tertiary.me-1{data: data_hash}= tag.name

%table#main_table.table.table-striped.table-condensed{width: '100%'}
  %thead
    %tr
      %th No.
      %th.all Name
      %th Best Score
      %th.all Latest Results
      %th.all
  %tbody
    - @numbering = 1
    = render :partial => 'problem', collection: problems
