%h3 Edit announcement
.mb-3
  [
  = link_to "#{mdi(:arrow_back)} Back".html_safe, announcements_path, class: 'mx-1'
  ]
.row
  .col-md-6
    .card.shadow-sm
      .card-body
        - content_for(:form_buttons) do
          = link_to '<span class="mi mi-bs md-18">arrow_back</span> Back'.html_safe, announcements_path, class: 'btn btn-outline-secondary mx-2'
        = render 'form'
