= render partial: 'msg_modal_show', locals: {do_popup: true, 
                                             header_msg: "Hint #{@hint.title}", 
                                             body_msg: markdown(@hint.body || '-- blank --')}
