-# dataset tabs
%ul.nav.nav-tabs
  %li.nav-item
    %button.nav-link{href: '#', data: {bs: {toggle: :tab, target: "#settings"}},class: 'active'} Settings
  %li.nav-item
    %button.nav-link{href: '#', data: {bs: {toggle: :tab, target: "#testcases"}}} Testcases
  %li.nav-item
    %button.nav-link{href: '#', data: {bs: {toggle: :tab, target: "#files"}}} Files
-# dataset tabs content
.tab-content
  %div#settings.tab-pane.fade.show.active
    %div.mb-3
      = turbo_frame_tag 'dataset_settings', src: settings_dataset_path(ds), data: {'problem-target': 'datasetSettings'}
  %div#testcases.tab-pane.fade
    %div.mb-3
      = turbo_frame_tag 'dataset_testcases', src: testcases_dataset_path(ds), data: {'problem-target': 'datasetTestcases'}
  %div#files.tab-pane.fade
    %div.mb-3
      = turbo_frame_tag 'dataset_files', src: files_dataset_path(ds), data: {'problem-target': 'datasetFiles'}
