= turbo_frame_tag dom_id(ds, :manager), data: {turbo: true} do
  %h4 Managers
  - ds.managers.each do |mg|
    .row
      .col-md-6
        = mg.filename
      .col-md-6
        [
        %span= link_to 'view', manager_view_dataset_path(ds,mg), remote: true
        |
        %span= link_to 'delete', manager_delete_dataset_path(ds,mg), data: {turbo: true, 'turbo-method': 'post', turbo_confirm: 'Really delete? This is very hard to undo' }
        ]
