= turbo_stream.replace :dataset_update, partial: 'datasets/form', locals: {ds: @dataset, updated: @updated}
- if @toast
  = turbo_stream.append 'toast-area', partial: 'toast', locals: {toast: @toast}
