.card.bg-warning-subtle
  .card-body
    .card-title
      %h4 What is a contest?
    :markdown
      Contest is a specific time span where a set of users are challenged with a set of problems. It is designed to accomodate management of exam or competition. Contest is a lot like group where users and problems are associated with a contest. However, a contest provides a way to manage and record what happens during the contest period.

      For example, we can use contest to view if any users missing from the contest and how the score progress during the contest.It also stores the finalized score at the end of the contest.

      A contest must be prepared with start and finish time. A contest is considered active when it is enabled and the current time is between the start and finish time. When a contest is active and the system mode must be set to **Contest mode**, only users in the contest can login and only the problem in the active contest are shown to the user.
