.card.bg-warning-subtle.shadow-sm
  .card-body
    .card-title
      %h4 What is a contest?
    :markdown
      A contest is a defined time period during which a specific group of users is challenged with a set of problems. 
      It is designed to support the management of exams or competitions. A contest functions similarly to a group, 
      where users and problems are associated with it. However, contests offer additional tools to track and manage activity during the contest period.
      For example, you can use a contest to monitor user participation, observe how scores progress throughout the contest, and record finalized scores once the contest ends.

      Every contest must be configured with a **start** and **end time**. A contest becomes active when it is enabled and the current time falls within its defined time span.
      When a contest is active and the system is in **Contest Mode**, only users assigned to the contest can log in, and only the problems included in the contest are visible to them.

      Switching between **Normal Mode** and **Contest Mode** automatically updates various system settings to reflect the selected mode.
