%h1 Contest Status [#{@contest.name}]
%table#table.table.datatable
  %thead
    %tr
      %th Login
      %th Name
      %th Remark
      %th Seat
      %th Last Seen

:javascript

  $(function() {
    humanize_time_renderer = function(data,type,row,meta) {
      if (!data) return ''
      return humanize_time(data)

    }

    // build columns
    problem_ids = [#{@contest.problems.pluck(:id).join(',')}]

    problem_ids = []
    problem_columns = problem_ids.map( id => {
      return {data: `problem_${id}`,className: 'text-end'}
    })
    columns = [
      {data: 'login', render: dt_link_renderer(null,{path: '#{stat_user_path(-123)}', })},
      {data: 'full_name'},
      {data: 'remark'},
      {data: 'seat'},
      {data: 'last_heartbeat',label: 'Last Checkin', render: humanize_time_renderer},
    ].concat(problem_columns)
    .concat( [
      //{data: 'sum'},
      //{data: 'pass'}
    ])

    //main table
    table_config = {
      processing: true,
      rowId: 'id',
      destroy: true,
      paging: false,
      order: [[0,'asc']],
      layout: {
         topStart: 'buttons',
         topEnd: 'search'
      },
      buttons: [
          { text: 'Refresh', action: function(e,dt,node,config) {dt.clear().draw(); dt.ajax.reload()}},
          'copyHtml5',
          'excelHtml5',
      ],
      ajax: {
        url: "#{view_query_contest_path(@contest)}",
        type: 'POST',
        headers: { 'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'), },
      },
      columns: columns,
      drawCallback: function (settings) {
        var api = this.api();
        api.columns.adjust()
      },
    }

    //initialize the table
    $('#table').DataTable(table_config)
  });
