.row
  .col-auto
    %h2 Problem #{@problem.id}
  .col
    = link_to 'back', problems_path, class: 'btn btn-secondary'

= render 'form', problem: @problem
= render 'shared/msg_modal'
.row.my-3
  .col-md-4
