%h1 Edit language

.row.my-3.gx-3
  .col-md-6
    .card.shadow-sm
      .card-body
        = render 'form'
  .col-md-6
    .card.bg-warning-subtle.shadow-sm
      .card-body
        .card-title
          %h4 Language
        :markdown
          You can set language specific options here.

          * **Binary** indicates that the submission is a binary file (such as .zip or .jar) which won't be editable in an editor.
          * **Control Group** enable the usage of control group for the isolate sandbox system. This is required if the language need multi-thread or multi-process.
          * **No Grade** indicates that the submission will not be graded by the grader, it merely store the submission as a file.

