= turbo_frame_tag :user_table_frame do
  %table#user_table.table.datatable.table-hover
    %thead
      %tr
        %th Login
        %th Full name
        %th Role
        %th Remark
        %th Enabled
        %th Remove
        %th Set role
    %tbody
