%h1 Editing group

= render 'form'

.row.my-3
  .col-auto
    = link_to 'Edit members and problems', @group, class: 'btn btn-info'
  .col-auto
    = link_to 'Back', groups_path, class: 'btn btn-secondary'
