- header_msg = local_assigns.fetch(:header_msg, 'Message')
- body_msg = local_assigns.fetch(:body_msg, 'Body placeholder')
- do_popup = local_assigns.fetch(:do_popup, false)
= turbo_frame_tag :msg_modal_turbo, data: {turbo: true} do
  .modal.fade#msg_modal{tabindex: -1,role: 'dialog'}
    .modal-dialog.modal-lg{role:'document'}
      .modal-content
        .modal-header
          %h4= header_msg
          %button.btn-close{type: 'button', 'data-bs': {dismiss: :modal}, aria: {label: 'Close'}}
        .modal-body
          %pre= body_msg
        .modal-footer
          %button.btn.btn-secondary{type: 'button', 'data-bs': {dismiss: 'modal'}} Close
- if do_popup
  :javascript
    $('#msg_modal').modal('show')
