.modal.fade#msg_modal{tabindex: -1,role: 'dialog'}
  .modal-dialog.modal-lg{role:'document'}
    .modal-content
      .modal-header
        %h4= header_msg
        %button.btn-close{type: 'button', 'data-bs': {dismiss: :modal}, aria: {label: 'Close'}}
      .modal-body
        %pre= body_msg
      .modal-footer
        %button.btn.btn-secondary{type: 'button', 'data-bs': {dismiss: 'modal'}} Close
