- header_msg = local_assigns.fetch(:header_msg, 'Message')
- body_msg = local_assigns.fetch(:body_msg, 'Body placeholder')
- header_subtitle = local_assigns.fetch(:header_subtitle,'')
.toast{"aria-atomic": true, "aria-live": :assertive, role: :alert}
  .toast-header.bg-info-subtle
    %strong.me-auto= header_msg
    %small= header_subtitle
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
  .toast-body
    = body_msg
:javascript
  // select unhide toast
  toast_elements = document.querySelectorAll('.toast:not(.hide)')
  arr = [...toast_elements]
  arr.map(toast_el => bootstrap.Toast.getOrCreateInstance(toast_el, {autohide: false} ).show())
