.panel.panel-primary
  .panel-heading
    Users
  .panel-body
    .radio
      %label
        = radio_button_tag 'users', 'all', (params[:users] == "all")
        All users
    .radio
      %label
        = radio_button_tag 'users', 'enabled', (params[:users] == "enabled")
        Only enabled users
