-# requires submission
- if @submission.comments.any?
  - kinds = [ 'llm_assist','comment']
  - kinds.each do |kind|
    - @submission.comments.where(kind: kind).each do |comment|
      .row
        .col
          - if comment.kind == 'llm_assist'
            .badge.rounded-pill.text-primary.bg-primary-subtle.me-2 AI
          - elsif comment.kind == 'comment'
            .badge.rounded-pill.text-info.bg-info-subtle.me-2 Comment
          %span= comment.title
        .col-auto.text-end
          = link_to 'View', submission_comment_path(@submission,comment), data: {turbo: true, turbo_stream: true}
- else
  %em -- There is no comment for this submission --
