.my-2
  = render 'problem_chooser', {problems: @problems, selected_problem: @problem, target_url_method: :problem_submissions_path}

- if @problem!=nil
  = render partial: 'problems/problem_head', locals: {problem: @problem}

- if @submissions!=nil
  - if @submissions.length>0
    %table.table
      %thead
        %th No.
        %th.text-right #
        %th At
        %th Source
        %th AI Assist
        %th Result
        %th{:width => "300px"} Compiler message
        %th
      = render partial: 'submission', collection: @submissions
  - else
    No submission
