# there should be a file "config/credentials.yml.enc" 
# the file is encrypted, using "config/master.key" as a key to decrypt
# to edit the file, use "rails credentials:edit" command
#
# This file is a plain text example of information that should be in the credential file, and encrypted
# DO NOT create a file named "config/credentials.yml" that has any sensitive info


# This key is for API keys of chula CAS system
chula:
  cas:
    authen_host: cas.chula.ac.th
    authen_path: '/cas/api/?q=studentAuthenticate'
    app_id: xxxx
    app_secret: yyyyy

