shared:
  pool: 5
  adapter: mysql2
  encoding: utf8
  host: localhost
  socket: /var/run/mysqld/mysqld.sock

development:
  username: grader
  password: grader
  database: grader

production:
  username: grader
  password: grader
  database: grader

test:
  database: grader_test
  username: grader
  password: grader
