shared:
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  socket: /var/run/mysqld/mysqld.sock

#change this to your setting
user_pass: &user_pass
  username: grader
  password: grader


test:
  <<: [*user_pass]
  database: grader_test

production:
  <<: [*user_pass]
  database: grader

development:
  <<: [*user_pass]
  database: grader
