.card.bg-warning-subtle.shadow-sm
  .card-body
    .card-title
    :markdown
      Tags help categorize problems. Each problem can have multile tags.

      * Public tags are shown under the name of each problem. They can also be displayed with specific color. 
      * Primary tags are displayed at the top of the problem list and a user can click on them to filter problems with the clicked tag.
        * Color has to effect on primary tags.

