.card.bg-warning-subtle.shadow-sm
  .card-body
    .card-title
      %h4 Tags
    :markdown
      Think of **tags** as labels that help organize problems. A single problem can have several tags. Tags also serve a special purpose: they can annotate a problem with extra information. For example, if a problem is tagged with **LLM Prompt**, it might automatically use a specific prompt associated with that tag.

      * Public Tags: These are visible right under each problem's name and can be displayed with a specific color, helping you quickly identify problem categories.
      * Topic Tags: These tags appear at the very top of the problem list. You can click on any primary tag to quickly filter and view only the problems associated with that tag. 
        * The color of a primary tag doesn't affect how it's displayed.

