.container-fluid
  %h1 Current Score
  = form_tag current_score_report_path, method: 'get' do
    Show only users from this group
    = select_tag "group_id", options_from_collection_for_select( Group.all, 'id','name',params[:group_name]), id: 'group_name',class: 'select2'
    = submit_tag 'Apply',class: 'btn btn-default'

  %br


  = render "score_table"
