
/- if params[:id]
/  %h1 Tasks Hall of Fame
/  = link_to('[back to All-Time Hall of Fame]', action: 'problem_hof', id: nil  )
/- else
/  %h1 All-Time Hall of Fame

.row.mb-5
  .col-md-6
    = render 'problem_chooser', {problems: @problems, selected_problem: @problem, target_url_method: :problem_hof_report_path}

- unless params[:id]
  Please select a problem.
- else
  %h1.mt-3
    [#{Problem.find(params[:id]).name}] #{Problem.find(params[:id]).full_name}
    - if @current_user.has_role?('ta')
      %a{href:stat_problem_path(@problem)} (stat)
  =render partial: 'task_hof'

