.row.my-2
  .col-md-6
    = render 'problem_chooser', {problems: @problems, selected_problem: @problem, target_url_method: :problem_hof_report_path}

- unless params[:id]
  Please select a problem from the list above.
- else
  .my-3
    = render partial: 'problems/problem_head', locals: {problem: @problem}
  = render partial: 'task_hof'

