.row.my-2
  .col-md-6
    = render 'problem_chooser', {problems: @problems, selected_problem: @problem, target_url_method: :problem_hof_report_path}

- unless params[:id]
  Please select a problem.
- else
  .my-3
    %h2= @problem.full_name
    .subtitle
      %h6
        = @problem.name
        - if @current_user.has_role?('ta')
          %a{href:stat_problem_path(@problem)} (stat)
  = render partial: 'task_hof'

