/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * // bootstrap says that we should not do this, but @import each file instead
 * #   *= require_tree .
 * #   *= require_self
 */

//@import "jquery-ui";
//@import "jquery.ui.core";
//@import "jquery.ui.theme";
//@import "jquery.ui.datepicker";
//@import "jquery.ui.slider";
//@import "jquery-ui-timepicker-addon";
//@import "jquery-tablesorter/theme.metro-dark";
//@import "jquery.countdown";
//@import "tablesorter-theme.cafe";

//bootstrap
//@import "bootstrap-sprockets";
@import "my_bootstrap_var";
@import "bootstrap";
@import "select2/select2.min";
@import "select2/select2-bootstrap-5-theme.min";

//@import bootstrap3-switch
//@import "bootstrap-toggle";
//@import "bootstrap-sortable";
//@import "bootstrap-datepicker3";
//@import "bootstrap-datetimepicker";
//@import "datatables.net-bs/css/dataTables.bootstrap.min";
//@import "datatables.net-buttons-bs/css/buttons.bootstrap.min";

//new import
@import 'datatables/datatables.min';
@import 'material_icons';
@import 'tempus-dominus/tempus-dominus';

//bootstrap navbar color (from)
/*
$bgDefault: #19197b;
$bgHighlight: #06064b;
$colDefault: #8e8eb4;
$colHighlight: #ffffff;
$dropDown: false;

@font-face {
    font-family: 'Glyphicons Halflings';
    src: font-path('bootstrap/glyphicons-halflings-regular.eot');
    src: font-path('bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
      font-path('bootstrap/glyphicons-halflings-regular.woff') format('woff'), 
      font-path('bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), 
      font-path('bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
*/

@import 'my_custom'

/*
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;

  .navbar-brand {
    color: $colDefault;

    &:hover, &:focus {
      color: $colHighlight;
    }
  }

  .navbar-text {
    color: $colDefault;
  }

  .navbar-nav {
    > li {
      > a {
        color: $colDefault;

        &:hover, &:focus {
          color: $colHighlight;
        }
      }

      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;

          > li {
            > a {
              color: $colDefault;

              &:hover, &:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
              }
            }

            > .divider {
              background-color: $bgHighlight;
            }
          }
        }
      }
    }

    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }

    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover, &:focus {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }

  .navbar-link {
    color: $colDefault;

    &:hover {
      color: $colHighlight;
    }
  }
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;

      &:hover, &:focus {
        color: $colHighlight;
      }
    }

    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}
*/

