//font are places at assets/fonts and font-url hepler (provided by sass-rails) will map correctly to it
@font-face {
  font-family: 'Sarabun';
  font-weight: 100;
  font-style: normal;
  src: font-url('sarabun/Sarabun-Thin.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 200;
  font-style: normal;
  src: font-url('sarabun/Sarabun-ExtraLight.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 300;
  font-style: normal;
  src: font-url('sarabun/Sarabun-Light.ttf') format('truetype'),
}

@font-face {
  font-family: 'Sarabun';
  font-weight: 400;
  font-style: normal;
  src: font-url('sarabun/Sarabun-Regular.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 500;
  font-style: normal;
  src: font-url('sarabun/Sarabun-Medium.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 600;
  font-style: normal;
  src: font-url('sarabun/Sarabun-SemiBold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 700;
  font-style: normal;
  src: font-url('sarabun/Sarabun-Bold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 800;
  font-style: normal;
  src: font-url('sarabun/Sarabun-ExtraBold.ttf') format('truetype'),
}

// italic

@font-face {
  font-family: 'Sarabun';
  font-weight: 100;
  font-style: italic;
  src: font-url('sarabun/Sarabun-ThinItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 200;
  font-style: italic;
  src: font-url('sarabun/Sarabun-ExtraLightItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 300;
  font-style: italic;
  src: font-url('sarabun/Sarabun-LightItalic.ttf') format('truetype'),
}

@font-face {
  font-family: 'Sarabun';
  font-weight: 400;
  font-style: italic;
  src: font-url('sarabun/Sarabun-RegularItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 500;
  font-style: italic;
  src: font-url('sarabun/Sarabun-MediumItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 600;
  font-style: italic;
  src: font-url('sarabun/Sarabun-SemiBoldItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 700;
  font-style: italic;
  src: font-url('sarabun/Sarabun-BoldItalic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Sarabun';
  font-weight: 800;
  font-style: italic;
  src: font-url('sarabun/Sarabun-ExtraBoldItalic.ttf') format('truetype'),
}

//ubuntu mono font
@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: normal;
  src: font-url('ubuntu_mono/UbuntuMono-Regular.ttf') format('truetype'),
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: normal;
  src: font-url('ubuntu_mono/UbuntuMono-Bold.ttf') format('truetype'),
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: italic;
  src: font-url('ubuntu_mono/UbuntuMono-Italic.ttf') format('truetype'),
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: italic;
  src: font-url('ubuntu_mono/UbuntuMono-BoldItalic.ttf') format('truetype'),
}
