tr {
  &.available {
    background: $color-success-bg;
  }

  &.not-available {
    background: $color-danger-bg;
  }
}

.import-log {
  background: lightgray;
  border: solid black 1px;
  padding: 10px;
}
